.booking {
  padding-top: 50px;
}

.booking__form {
  display: grid;
  max-width: 200px;
  gap: 25px;
  width: 100%;
  max-width: 400px;
}

.booking h2 {
  font-family: "Markazi Text", serif;
  font-weight: normal;
  font-size: 40px;
  margin-bottom: 20px;
}

.booking form {
  margin: auto;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
}

.form-field p {
  font-size: 14px;
  color: red;
}

.confirmed-booking {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 31.25rem;
  padding: 1.875rem 0 1.875rem 0;
  text-align: center;
}
